<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Use Form</title>
</head>
<body>
    <h1>Form: {{ form.name }}</h1>
    <form id="dynamic-form">
        {% for field in form.configuration %}
        <div>
            <label>{{ field.label }}</label>
            <input type="{{ field.type }}" name="{{ field.label }}">
        </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
